.adminnav {
  .nav-center {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 30px;
    background-image: url("../img/Rectanglefornavbar.png"),
    url("../img/126slash1.png"),
    url("../img/78slash2.png"),
    url("../img/right.png");
    background-repeat: no-repeat;
    background-position: -13%, 64%, 72%, 111%;
    //background-size: 150px 100px;
    background-color: white;

    .navbar {
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 50px;

      .menu-icon {
        display: none;
      }

      .header-logo {
        line-height: 24px;

        a {
          display: flex;
          flex-direction: row;
          text-decoration: none;
          color: #222d44;

          .logo-left {
            img {
              height: 80px;
              width: 80px;
            }
          }

          .logo-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: bold;
            font-size: 14px;
            margin-left: 20px;

            span {
              font-size: 20px;
            }
          }
        }
      }

      .header-right {
        display: flex;
        flex-direction: row;
        align-items: center;

        .header-right-desctop {
          display: flex;
          flex-direction: row;
        }

        .search-form {
          height: 40px;
          max-width: 390px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-radius: 30px;
          background: #ffffff;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          padding: 0 15px;

          input {
            height: 40px;
            width: 100%;
            border: none;

            &:focus {
              outline: none;
            }
          }

          button {
            border: none;
            background: #ffffff;

            img {
              height: 20px;
              width: 20px;
            }
          }

          .enter-site {
            height: 50px;
            width: 121px;
            border-radius: 30px;
            border: none;
            background: linear-gradient(180deg, #222d44 0%, #4e5e80 100%);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            color: white;
            font-weight: 600;
            margin-left: 20px;
          }
        }

        .glas {
          padding: 10px;
          border-radius: 50%;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          margin-right: 20px;


          img {
            height: 20px;
            width: 20px;
          }
        }

        .enter {
          position: relative;
          margin-right: 5px;

          .enter-btn {
            height: 40px;
            width: 100%;
            min-width: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: white;
            background: linear-gradient(180deg, #222d44 0%, #4e5e80 100%);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            padding: 0 8px;

            p {
              //display: flex;
              //justify-content: center;
              margin-left: 33%;
              margin-top: 3px;
              font-size: 9px;
              align-items: center;
            }

            .enter-img {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 28px;
              width: 28px;
              border-radius: 50%;
              background-color: #c4c4c4;

              img {
                //height: 20px;
              }
            }
          }

          &:hover {
            .enter-content {
              display: block;
            }
          }

          .enter-content {
            display: none;
            //width: 120px;
            position: absolute;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;

            ul {
              li {
                height: 40px;
                padding: 12px 15px;

                &:first-child {
                  border-radius: 10px 10px 0 0;
                }

                &:last-child {
                  border-radius: 0 0 10px 10px;
                }

                &:hover {
                  background-color: rgb(218, 214, 214);
                }

                a {
                  color: black;
                }
              }
            }
          }
        }
      }
    }

    .desctop-navigation {
      display: none;
      height: 300px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .nav-bottom {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: fixed;
    top: 130px;
    z-index: 10;

    ul {
      height: 55px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      li {
        text-align: center;
        margin: 0 20px;
        font-size: 16px;
        line-height: 120%;

        a {
          text-decoration: none;
          color: #222d44;
          font-weight: 500;
        }
      }
    }
  }
}

@media (max-width: 1060px) {
  .adminnav {
    .nav-center {
      background-position: -13%, 60%, 70%, 111;
    }
  }
}


@media (max-width: 950px) {
  .adminnav .nav-center .navbar .header-right .enter .enter-btn {
    min-width: 140px;

    span {
      font-size: 11px;

      p {
        font-size: 7px;
      }
    }
  }
  .adminnav {
    .nav-center {
      background-position: -14%, 54%, 66%, 115%;

      .navbar {
        margin: 0 20px;

        .header-logo a .logo-right {
          font-size: 12px;
        }

        .header-logo a .logo-right span {
          font-size: 16px;
        }
      }
    }
  }

}


@media (max-width: 800px) {
  .adminnav .nav-center .navbar .header-right .enter .enter-btn {

  }
  .adminnav {
    .nav-center {
      background-image: url("../img/right.png");
      background-repeat: no-repeat;
      background-position: 115%;
      background-color: white;

      .navbar {
        margin: 0 10px;

        .menu-icon {
          display: block;
          margin-left: 10px;
        }

        .header-logo {
          display: none;
        }

        .header-right {
          .search-form {
            max-width: 150px;
          }
        }
      }

      #show-navigation {
        position: fixed;
        height: 100vh;
        width: 100%;
        display: block;
        background: #000000ab;
        opacity: 1;

        .container {
          width: 90%;

          .desctop-navigation-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 0;

            //.mobil-language {
            //  display: none;
            //}

            ul {
              li {
                margin-bottom: 15px;

                a {
                  color: white;
                  font-size: 16px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .adminnav .nav-center .navbar .header-right .enter .enter-btn {
    span {
      font-size: 10px;
    }

  }
  .adminnav {
    .nav-center {
      .navbar {
        .header-right {
          .header-right-desctop {
            display: none;
          }
        }
      }

      #show-navigation {
        .container {
          .desctop-navigation-body {

            .mobil-language {
              display: flex;
              flex-direction: row;
              margin-bottom: 20px;

              .navlanguage-item {
                background-color: white;
              }

              .glas {
                padding: 10px;
                border-radius: 50%;
                background-color: white;

                img {
                  height: 20px;
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .mobil-language-admin {
    display: none;
  }
}

@media (max-width: 576px) {
  .mobil-language-item {
    background: linear-gradient(180deg, #222d44 0%, #4e5e80 100%)
  }
}

@media (max-width: 480px) {
  .adminnav .nav-center .navbar .header-right .enter .enter-btn {
    span {
      font-size: 10px;
    }

  }
  .adminnav {
    .nav-center {
      background-position: 150% 25px;
    }
  }
}

@media (max-width: 440px) {
  .adminnav .nav-center {
    background-position: 180% 25px;

    .navbar .header-right .search-form {
      display: none;
    }
  }
}

@media (max-width: 370px) {
  .adminnav .nav-center {
    background-position: right 25px;
    background-size: 150px 100px;
  }
}
