.admin {
  font-family: "Montserrat", sans-serif;

  .admin-sitebar-wrapper {
    display: none;
    height: 100vh;
    width: 180px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 10px grey;
    z-index: 1;
  }


  #admin-sitebar {
    display: none;
    position: fixed;
    color: #26324a;

    .sitebar-chevron {
      height: 70px;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      border-bottom: 1px solid rgb(226, 219, 219);
      cursor: pointer;
    }

    .accordion__section {
      cursor: pointer;

      .accordion {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgb(223, 223, 223);
        padding: 15px 30px;

        &:hover {
          background-color: #dbdbdb85;
          transition: 0.7s all ease;
        }

        &__title {
          font-size: 12px;
          font-weight: 600;
        }
      }

      .accordion__content {
        display: none;
      }

      #content__items {
        display: block;

        ul {
          li {
            position: relative;
            height: 35px;
            border-bottom: 1px solid rgb(212, 212, 212);
            padding: 10px 10px 10px 50px;

            div {
              height: 18px;
              min-width: 18px;
              font-size: 12px;
              padding: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              background-color: red;
              border-radius: 30px;
              position: absolute;
              top: -5px;
              right: -5px;
            }

            &:hover {
              background-color: #dbdbdb85;
              transition: 0.7s all ease;
            }
          }
        }
      }
    }
  }

  .admin-table {
    ::-webkit-scrollbar {
      height: 20px;
    }

    ::-webkit-scrollbar-track {
      background: #ececec;
      box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 10px;
    }

    ::-webkit-scrollbar-thumb {
      height: 10px;
      width: 100px;
      background: #bdbaba;

      border-radius: 10px;
    }
  }

  .admin-body {
    background-color: #f4f8ff;
    padding: 60px 0 30px 0;
  }

  .table-title {
    color: #78baf3;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .admin-list-appeal {
    width: 98%;
    margin: 0 auto;
    padding: 20px;
    min-height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    .table-scroll {
      overflow-x: scroll;
      width: 100%;

      &::-webkit-scrollbar {
        width: 10px;
        background-color: #e2e2e2;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #c2c2c2;
      }

      table {
        margin-bottom: 10px;
        width: 100%;

        tr {
          .table-border {
            text-transform: capitalize;

            text-align: center;
            background: #ffffff;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 10px;
            margin: 1px;
          }

          td {
            //word-break: break-all;
          }
        }
      }
    }
  }

  .admin-appeals-count {
    //padding: 150px 0 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;

    .appeals-count-div {
      display: flex;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      padding: 10px;
      margin: 10px;
      width: 180px;
      // height: 100px !important;

      .appeals-count-line {
        width: 3px;
        background: linear-gradient(#9198e5, #C225FF, #e66465);
        height: 100%;
        margin: 0 3px;
      }

      .appeals-count-img {
        display: flex;
        align-items: center;
        img {
          margin-top: 5px;
          width: 30px !important;
        }
      }

      .appeals-count-content {
        width: 100%;
        text-align: center;
        padding-bottom: 3px;
      }

      .appeals-count-p {
        font-size: 16px;
        font-weight: bolder;
        color: #4e5e80;

      }

      p {
        margin-top: 8px;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
      }
    }

    .dashboardTableItems{
      .table-border{
        text-decoration: underline !important;
        color: #0046d5;
      }
    }
  }

}

.admin-list-listnear {
  margin: 0 auto;
  width: 98%;
  padding: 20px;
  min-height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  .table-scroll {
    overflow-x: scroll;
    width: 100%;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #e2e2e2;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #c2c2c2;
    }
  }

  table {
    margin-bottom: 10px;
    width: 100%;

    tr {
      .table-border {
        text-align: center;
        background: #ffffff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px 15px;
        margin: 1px;
      }

      .applicant-name {
        width: 180px;
        text-align: start;
      }

      .nation {
        width: 160px;
      }

      .gender {
        width: 70px;
      }

      .citi {
        width: 120px;
      }

      .tel {
        width: 160px;
      }

      .pochta {
        width: 150px;
      }

      .lgot {
        width: 160px;
      }

      .date {
        width: 170px;
      }

      .edit {
        width: 30px;

        button {
          background-color: white;
        }
      }
    }
  }

  .listener-modal {
    display: none;
  }

  #modal {
    height: 500px;
    width: 600px;
    display: block;
    padding: 40px 100px 30px 0;
    border-radius: 20px;
    background-color: white;
    position: fixed;
    top: 80px;
    left: 25%;
    right: 25%;
    box-shadow: 0 0 100px 10px grey;

    ul {
      li {
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;
        margin-bottom: 15px;

        .label {
          font-size: 18px;
          font-weight: 500;
          width: 30%;
          text-align: right;
        }

        .inform {
          height: 40px;
          width: 55%;
          border-radius: 10px;
          background-color: #ffffff;
          box-shadow: 0 0 15px #e8ecf3;
          padding: 12px;
        }
      }
    }

    .change-btn {
      display: block;
      border-radius: 30px;
      font-size: 14px;
      border: none;
      outline: none;
      background: linear-gradient(180deg, #222d44 0%, #4e5e80 100%);
      box-shadow: 0 0 15px #e8ecf3;
      color: white;
      padding: 9px 15px;
      margin-left: auto;
      margin-top: 25px;
    }
  }
}

.admin-list-setting {
  width: 98%;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  span{
    display: inline-block;
    float: right;
    top: 0;
    cursor: pointer;
  }

  .table-scroll {
    overflow-x: scroll;
    width: 100%;

    &::-webkit-scrollbar {
      width: 10px;
      background-color: #e2e2e2;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #c2c2c2;
    }
  }

  .list-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 500;
  }

  table {
    margin-bottom: 10px;
    width: 100%;

    tr {
      width: 100%;

      .table-border {
        text-align: center;
        background: #ffffff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px 15px;
        margin: 1px;
      }

      .number {
        width: 60px;
      }

      .name-uz {
        width: 370px;
      }

      .name-ru {
        width: 370px;
      }

      .name-en {
        width: 370px;
      }

      .edit {
        width: 80px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}


.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;

  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
}

.sitebar-elements {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .search-form {
    height: 40px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 0 15px;

    input {
      height: 40px;
      width: 100%;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .admin #admin-sitebar {
    display: block;
  }
}

@media (max-width: 1122px) {
  .table-scroll table tr .table-border {
    font-size: 11px;
    padding: 5px;
  }
}

@media (max-width: 800px) {
  .table-scroll table tr .table-border {
    font-size: 10px;
    padding: 3px;
  }
}

@media (min-width: 576px) {
  .searchdiv {
    display: none;
  }

}
@media (max-width: 576px) {
  .admin .admin-appeals-count .appeals-count-div .appeals-count-content {
    p {
      font-size: 14px;
    }
  }
}