.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 1140px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 10px;
    margin-left: 30px;
    padding: 15px;
    .content-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        .request-items {
            width: 260px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            p {
                margin: 0 5px;
            }
            .reuest-item-number {
                font-weight: bold;
                font-size: 18px;
                color: #222d44;
            }
        }
        .request-search {
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 30px;
            background: #ffffff;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            padding: 0 25px;
            .search-form {
                display: flex;
                flex-direction: row;
                width: 100px;
            }
            input {
                height: 40px;
                width: 100%;
            }
            button {
                background: #ffffff;
                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }
        .request-sort {
            display: flex;
            flex-direction: row;
            align-items: center;
            select {
                width: 180px;
                height: 40px;
                background-color: #ffffff;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
                border-radius: 30px;
                margin-left: 10px;
                border: none;
                padding: 10px 10px;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
    .new {
        margin-top: -5px;
        .new-item {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: red;
            font-size: 10px;
            font-weight: 500;
            position: relative;
            top: 10px;
            left: 98.5%;
        }
    }
    .content {
        background-color: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 15px;
        // &:last-child {
        //     margin: 0;
        // }
        .user-item {
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            // margin-bottom: 20px;
            .user-person-inform {
                display: flex;
                flex-direction: row;
                align-items: center;
                .user-img {
                    height: 55px;
                    width: 55px;
                    border-radius: 50%;
                    background-color: green;
                    margin-right: 10px;
                }
                .user-inform {
                    .user-name {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 120%;
                        color: #000000;
                        margin-bottom: 5px;
                    }
                    .user-porofeesion {
                        font-size: 14px;
                    }
                }
            }
            .user-reaction-stars {
                .us-re-label {
                    margin-bottom: 10px;
                    font-weight: 500;
                }
                .stars {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
        .content-line {
            height: 1px;
            background-color: black;
            margin: 30px 0;
        }
        .document-prosses {
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px 0 40px 0;
            .new,
            .progressing,
            .close {
                width: 120px;
            }
            align-items: center;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h3 {
                    font-size: 16px;
                    font-weight: 600;
                    color: #9096a1;
                    margin-bottom: 5px;
                }
            }
            .prosses-item {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1px solid #222d44;
            }
            .prosses-item-active {
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: #222d44;
            }
            .line {
                height: 2px;
                width: 30%;
                margin-top: 30px;
                background-color: #222d44;
            }
        }
        .document-text {
            margin-top: 20px;
            .document-text-title {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                h4 {
                    font-size: 20px;
                    font-weight: 500;
                    color: #000000;
                }
                p {
                    font-size: 18px;
                    color: #222d44;
                    margin-left: 10px;
                }
            }
            .document-text-item {
                font-size: 14px;
                line-height: 24px;
                color: #222d44;
            }
        }
        .request-theme {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0;
            h3 {
                font-weight: 500;
                font-size: 20px;
                color: #000000;
            }
            span {
                color: grey;
                margin-left: 10px;
            }
            input {
                margin-right: 10px;
            }
        }
        .request-content-item {
            font-size: 14px;
            line-height: 24px;
            color: #222d44;
            margin-bottom: 20px;
        }
        .request-content-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .request-content-title-date {
                display: flex;
                flex-direction: row;
                align-items: center;
                .date-item {
                    padding: 6px 18px;
                    background-color: #d80027;
                    border-radius: 30px;
                    color: white;
                    margin-left: 10px;
                }
                button {
                    border: 2px solid #000000;
                    border-radius: 30px;
                    padding: 6px 10px;
                    background-color: white;
                    color: #000000;
                    font-weight: 500;
                    margin-left: 10px;
                }
            }
        }
        .fedbeck {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .fedbeck-right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .redaction-date {
                    margin-left: auto;
                    margin-top: 10px;
                    padding-left: 35px;
                    a {
                        color: black;
                    }
                }
                .btn-default {
                    font-size: 12px;
                    padding: 7px 10px;
                    margin-bottom: 5px;
                }
            }
            .supervisor-applicants {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                h5 {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                strong {
                    margin-left: 10px;
                }
                .departmens {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    h6 {
                        margin-bottom: 10px;
                        strong {
                            margin-left: 10px;
                            font-weight: 500;
                        }
                    }
                }
            }
            .count-request {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-bottom: 10px;
                font-size: 16px;
                strong {
                    margin-left: 10px;
                    font-size: 18px;
                }
            }
        }

        .file-upload {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;
            label {
                margin-right: 20px;
            }
        }
        .fedbeck-content {
            p {
                margin: 15px 0;
                line-height: 20px;
            }
        }
        .button-white {
            padding: 5px 10px;
            border-radius: 30px;
            border: 2px solid black;
            background: white;
        }
        .category-audio {
            height: 100px;
            background-color: #b3c6ff;
            margin-bottom: 20px;
        }
        .request-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            .request-bottom-left {
                font-size: 16px;
                line-height: 22px;
                text-decoration-line: underline;
                color: #222d44;
            }
            .request-bottom-right {
                a {
                    font-weight: 500;
                    font-size: 16px;
                    text-decoration-line: underline;
                    color: #242f47;
                }
                button {
                    margin-left: 10px;
                }
            }
        }
        .answer-score {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            h4 {
                font-size: 16px;
                font-weight: 600;
            }
            .answer-score-button {
                display: flex;
                flex-direction: row;
                button {
                    background-color: white;
                    padding: 7px 15px;
                    border-radius: 20px;
                    border: 2px solid black;
                    color: black;
                    font-weight: 700px;
                    margin: 0 10px;
                }
            }
        }
        // .center-sends {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;
        //     align-items: center;
        //     .center-sends-right {
        //         .new {
        //             height: 18px;
        //             width: 18px;
        //             display: flex;
        //             align-items: center;
        //             justify-content: center;
        //             border-radius: 50%;
        //             background-color: red;
        //             color: white;
        //             font-size: 10px;
        //             font-weight: 500;
        //             position: relative;
        //             bottom: 15px;
        //             left: 105px;
        //         }
        //         p {
        //             margin-top: 8px;
        //             margin-left: 35px;
        //         }
        //     }
        // }
    }
    .content-line {
        height: 2px;
        background-color: #222d4483;
        margin: 30px 0 15px 0;
    }
    .new-request {
        display: flex;
        align-items: center;
        margin: 10px auto;
        height: 30px;
        width: 300px;
        background: url(../icon/plus.svg) no-repeat left/20px 20px;
        text-decoration: none;
        padding-left: 40px;
        font-size: 18px;
        color: #c4c4c4;
    }

    .period-section-title {
        margin: 20px 0;
    }

    .period-section-title,
    .bottom-inform {
        font-size: 18px;
        font-weight: 500;
        strong {
            font-weight: 700;
            font-size: 22px;
            margin-left: 10px;
        }
    }
    .bottom-inform {
        height: 30px;
        width: 50%;
        margin-left: auto;
        color: gray;
        strong {
            color: black;
        }
    }
    .listnears-section-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        .list-generation,
        .send-list {
            height: 40px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            text-align: center;
            border-radius: 30px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }
    }
    .content-item {
        padding: 15px;
        background: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 15px;
        .theme {
            input {
                width: 70%;
                border: none;
                padding-left: 20px;
            }
            label {
                font-weight: 500;
                font-size: 22px;
                color: #000000;
            }
        }
        textarea {
            height: 90%;
            width: 100%;
            border: none;
            margin-top: 10px;
        }
        .category-audio {
            height: 100px;
            background-color: #b3c6ff;
            margin-bottom: 20px;
        }
        // .document-prosses {
        //     height: 40px;
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;
        //     margin: 20px 0 40px 0;
        //     .new,
        //     .progressing,
        //     .close {
        //         width: 120px;
        //     }
        //     align-items: center;
        //     div {
        //         display: flex;
        //         flex-direction: column;
        //         align-items: center;
        //         justify-content: center;
        //         h3 {
        //             font-size: 16px;
        //             font-weight: 600;
        //             color: #9096a1;
        //             margin-bottom: 5px;
        //         }
        //     }
        //     .prosses-item {
        //         height: 40px;
        //         width: 40px;
        //         border-radius: 50%;
        //         border: 1px solid #222d44;
        //     }
        //     .prosses-item-active {
        //         height: 25px;
        //         width: 25px;
        //         border-radius: 50%;
        //         background-color: #222d44;
        //     }
        //     .line {
        //         height: 2px;
        //         width: 30%;
        //         margin-top: 30px;
        //         background-color: #222d44;
        //     }
        // }

        .user-item {
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            // margin-bottom: 30px;
            .user-person-inform {
                display: flex;
                flex-direction: row;
                align-items: center;
                .user-img {
                    height: 55px;
                    width: 55px;
                    border-radius: 50%;
                    background-color: green;
                    margin-right: 10px;
                }
                .user-inform {
                    .user-name {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 120%;
                        color: #000000;
                        margin-bottom: 5px;
                    }
                    .user-porofeesion {
                        font-size: 14px;
                    }
                }
            }
            .user-reaction-stars {
                .us-re-label {
                    margin-bottom: 10px;
                    font-weight: 500;
                }
                .stars {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
}
