.home {
  background-color: #F4F8FF;
  padding-top: 80px;
  font-family: Montserrat, serif;

  .header-img {
    height: 80vh !important;
    background: url(../img/header-img.jpg) center/cover no-repeat;
    margin-bottom: 10px;

    button {
      margin: 35% 50%;
      transform: translateX(-50%);
      width: 360px;
      height: 70px;
      background: linear-gradient(180deg, #222D44 0%, #4E5E80 100%);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #FAFAFA;
    }
  }

  .what-clinic {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    .what-clinic-text,
    .what-clinic-mini {
      min-height: 340px;
      border-radius: 10px;
      margin: 10px;
      background-color: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      padding: 20px;
      font-size: 14px;
      p {
        line-height: 24px;
        margin: 10px;
      }
    }
    .what-clinic-text {
      width: 60%;
    }

    .what-clinic-mini {
      width: 30%;
    }
  }

  #cel-clinic,
  #adres-procuratura {
    height: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px 10px 30px 10px;
    font-size: 16px;
  }

  #cel-clinic {
    padding: 20px;

    h5 {
      margin: 20px;
      font-weight: 600;
      font-size: 18px;
      color: #222d44;
    }

    .cel-clinic-text {
      display: flex;
      flex-direction: row;

      .text-inform {
        width: 100%;
        padding-left: 35px;

        ul {
          li {
            list-style-type: disc;
            margin-bottom: 20px;
            line-height: 25px;
          }
        }
      }
    }
  }

  #statistic-clinic {
    min-height: 430px;
    margin: 15px 10px 30px 10px;

    .statistic-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;

      .statistic-items {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        .statistic {
          min-height: 180px;
          max-width: 290px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          border-radius: 10px;
          background-color: white;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          padding: 15px;
          margin: 0 8px;

          h3 {
            font-size: 70px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #222d44;
          }

          p {
            line-height: 24px;
          }
        }
      }
    }
  }

  #purpose-clinic {
    min-height: 99%;
    margin: 15px 0px 20px 0px;

    .porpose-text {
      height: 100%;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
      padding: 15px;
      font-size: 16px;

      p {
        line-height: 25px;
      }
    }
  }

  #popular-clinic {
    min-height: 420px;
    margin: 15px 10px 20px 10px;
  }

  #legal-clinic {
    min-height: 400px;
    margin: 15px 10px 20px 10px;

    .legal-body {
      display: flex;
      flex-direction: row;
      padding-top: 30px;

      .legal-body-items {
        width: 50%;
        margin: 0 15px;

      }
    }
  }

  #home-useful-links {
    background-color: #F4F8FF;
    min-height: 380px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;

    .useful-links-body {

      display: flex;
      flex-direction: row;
      min-height: 280px;
      margin-top: 20px;
      justify-content: center;
      flex-wrap: wrap;

      .useful-links-item {
        background-color: white;
        //height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin: 10px 10px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: 0.7s all ease;

        &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }

        img {
          height: 75px;
          width: 75px;
          margin: 20px 0 20px 0;
        }

        p {
          text-align: center;
          line-height: 20px;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }

      .useful-links-item-regulatory{
        width: 340px;
      }
    }

    .useful-links-body1 {

      // display: flex;
      // flex-wrap: wrap;
      min-height: 280px;
      margin-top: 20px;
      // justify-content: center;

      .useful-links-item1 {
        background-color: white;

        height: 355px;
        // width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin: 10px 10px;
        padding: 10px 30px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: 0.7s all ease;

        &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }

        img {
          height: 75px;
          width: 75px;
          margin: 60px 0 20px 0;
        }

        p {
          text-align: center;
          line-height: 20px;
          font-weight: 600;
        }
      }
    }
  }
}

.right_margin{
  margin-right: 195px !important;
}

.left_margin{
  margin-left: 195px !important;
}

.left_head{
  padding-left: 195px !important;
}
.right_padding{
  padding-right: 195px !important;
}
.right_head{
  display: flex;
  justify-content: end;
  p{
    padding-right: 195px;
  }
}
.brl-0{
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  margin-left: 0 !important;
}

.brr-0{
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-right: 0 !important;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
@media only screen and (min-width: 1200px) and (max-width:1400px){
  .useful-links-item1 {
    height: 395px !important;
  }
  .useful-links-item {
    width: 170px !important;
  }
  .right_margin{
    margin-right: 100px !important;
  }
  
  .left_margin{
    margin-left: 100px !important;
  }
  
  .left_head{
    padding-left: 100px !important;
  }
  .right_padding{
    padding-right: 100px !important;
  }
  .right_head{
    display: flex;
    justify-content: end;
    p{
      padding-right: 100px;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width:1200px){
  .useful-links-item1 {
    height: 405px !important;
  }

  .useful-links-item {
    width: 200px !important;
  }

  .right_margin{
    margin-right: 70px !important;
  }
  
  .left_margin{
    margin-left: 70px !important;
  }
  
  .left_head{
    padding-left: 70px !important;
  }
  .right_padding{
    padding-right: 70px !important;
  }
  .right_head{
    display: flex;
    justify-content: end;
    p{
      padding-right: 70px;
    }
  }
}
@media only screen and (min-width: 700px) and (max-width:1000px){
  .useful-links-item1 {
    height: 345px !important;
  }

  .useful-links-item {
    width: 280px !important;
  }

  .right_margin{
    margin-right: 40px !important;
  }
  
  .left_margin{
    margin-left: 40px !important;
  }
  
  .left_head{
    padding-left: 40px !important;
  }
  .right_padding{
    padding-right: 40px !important;
  }
  .right_head{
    display: flex;
    justify-content: end;
    p{
      padding-right: 40px;
    }
  }
  .home {
    .container2 {
      #what-clinic{
        display: flex;
        flex-wrap: wrap;
        .what-clinic-text{
          width: 100% !important;
        }
      
        .what-clinic-mini{
          width: 100% !important;
          border-bottom-right-radius: 0 !important;
          border-top-right-radius: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }

  .home {
    .container2 {
      .what-clinic-slider{
        display: flex;
        flex-wrap: wrap;
        .what-clinic-text{
          width: 100% !important;
        }
      
        .what-clinic-mini{
          width: 98% !important;
          border-bottom-left-radius: 0 !important;
          border-top-left-radius: 0 !important;
          margin-left: 0 !important;
        }
      }
    }
  }


}
@media only screen and (min-width: 500px) and (max-width:700px){
  .useful-links-item1 {
    height: 305px !important;
  }

  .useful-links-item {
    width: 280px !important;
  }

  .right_margin{
    margin-right: 20px !important;
  }
  
  .left_margin{
    margin-left: 20px !important;
  }
  
  .left_head{
    padding-left: 20px !important;
  }
  .right_padding{
    padding-right: 20px !important;
  }
  .right_head{
    display: flex;
    justify-content: end;
    p{
      padding-right: 20px;
    }
  }

  .home {
    .container2 {
      #what-clinic{
        display: flex;
        flex-wrap: wrap;
        .what-clinic-text{
          width: 100% !important;
        }
      
        .what-clinic-mini{
          width: 100% !important;
          border-bottom-right-radius: 0 !important;
          border-top-right-radius: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }

  .home {
    .container2 {
      .what-clinic-slider{
        display: flex;
        flex-wrap: wrap;
        .what-clinic-text{
          width: 100% !important;
        }
      
        .what-clinic-mini{
          width: 98% !important;
          border-bottom-left-radius: 0 !important;
          border-top-left-radius: 0 !important;
          margin-left: 0 !important;
        }
      }
    }
  }

}
@media only screen and (max-width:500px){
  .useful-links-item1 {
    height: 435px !important;
  }
  .useful-links-item {
    width: 280px !important;
  }

  .right_margin{
    margin-right: 5px !important;
  }
  
  .left_margin{
    margin-left: 5px !important;
  }
  
  .left_head{
    padding-left: 5px !important;
  }
  .right_padding{
    padding-right: 5px !important;
  }
  .right_head{
    display: flex;
    justify-content: end;
    p{
      padding-right: 5px;
    }
  }

  .home {
    .container2 {
      #what-clinic{
        display: flex;
        flex-wrap: wrap;
        .what-clinic-text{
          width: 100% !important;
        }
      
        .what-clinic-mini{
          width: 100% !important;
          border-bottom-right-radius: 0 !important;
          border-top-right-radius: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }

  .home {
    .container2 {
      .what-clinic-slider{
        display: flex;
        flex-wrap: wrap;
        .what-clinic-text{
          width: 100% !important;
        }
      
        .what-clinic-mini{
          width: 98% !important;
          border-bottom-left-radius: 0 !important;
          border-top-left-radius: 0 !important;
          margin-left: 0 !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    .container {
      padding: 0 15px;

      .what-clinic-slider {
        flex-direction: column;
        margin-right: 20px;

        .what-clinic-text {
          width: 100%;
        }

        .what-clinic-mini {
          width: 100%;
        }
      }

      #what-clinic {
        flex-direction: column;
        margin: 10px;

        .what-clinic-mini,
        .what-clinic-text {
          width: 100%;
          margin: 10px 0;
        }
      }

      #statistic-clinic {
        .statistic-row {
          flex-direction: column;
          width: 100%;
          margin-top: 15px;

          .statistic-items {
            width: 100%;

            .statistic {
              max-width: 70%;
              margin-bottom: 15px;

              h3 {
                font-size: 60px;
              }
            }
          }
        }
      }
    }

    #home-useful-links {
      background-color: #F4F8FF;

      .useful-links-body {
        flex-direction: column;

        .useful-links-item {
          margin: 0 auto;
          margin-bottom: 20px;
          background-color: white;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .home {
    .container {
      #popular-clinic {
        .popular-slider {
          text-align: center;

          .popular-text {
            .request-content-title-name {
              flex-direction: column;
              align-items: center;

              .applicant-image {
                margin-bottom: 10px;
              }
            }

            .document-text {
              .document-text-title {
                flex-direction: column;
                align-items: center;

                h4 {
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }

      #legal-clinic {
        .legal-body {
          flex-direction: column;
          align-items: center;

          .legal-body-items {
            width: 100%;


          }
        }
      }

      #statistic-clinic {
        .statistic-row {
          .statistic-items {
            .statistic {
              h3 {
                font-size: 40px;
              }
            }
          }
        }
      }
    }

    #home-useful-links {
      .useful-links-body {
        .useful-links-item {
          padding: 10px;
          //height: 300px;
          width: 250px;
          img{
            margin: 10px 0 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .home {
    text-align: center;

    .container {
      #statistic-clinic {
        .statistic-row {
          .statistic-items {
            .statistic {
              h3 {
                font-size: 28px;
              }
            }
          }
        }
      }
    }


    #cel-clinic {
      .cel-clinic-text {
        flex-direction: column;

        .text-inform {
          width: 100%;
        }
      }
    }
  }
}
