.navlanguage {
    height: 40px;
    margin: 0 20px;
    z-index: 1000;
}


.navlanguage-item {
    background-color: white;
    height: 40px;

    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 11px 10px;
}

.navlanguage-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 20px 20px;
}

.navlanguage-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.navlanguage-content a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: block;
    padding: 10px;
}


.navlanguage:hover .navlanguage-content {
    display: block;
}

.navlanguage:hover .navlanguage-item {
    border-radius: 20px 20px 0 0;
}


/*.uzb-item {*/
/*    background: url("../icon/flag-uzb.svg") center left 10px / 25px 25px no-repeat;*/
/*}*/

/*.rus-item {*/
/*    background: url("../icon/flag-rus.svg") center left 10px / 25px 25px no-repeat;*/
/*}*/

/*.ang-item {*/
/*    background: url("../icon/flag-ang.svg") center left 10px / 25px 25px no-repeat;*/
/*}*/

@media (max-width: 800px) {
    #selectedLang {

        width: 45px;
    }

    .navlanguage-item {
        padding: 13px 8px;
    }

}


