.acount-applicant {
    padding: 100px 0;
    background-color: #f4f8ff;
}

@media (max-width: 1200px) {
    .acount-applicant {
        .container {
            .section-body {
                padding: 50px 0px;
                .content-wrapper {
                    .content-item {
                        .categories {
                            ul {
                                li {
                                    input {
                                        // max-width: 300px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px){
    .acount-applicant {
        .container {
          padding: 0;
          .section-body {
            padding: 0;
            flex-wrap: wrap;
            div {
              .navbar-wrapper {
                width: 100vw;
                .navbarr {
                  width: 90%;
                  margin: 10px auto;
                  ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 10px;
                    li {
                      margin-bottom: 0;
                      width: 268px;
                      height: 50px;
                      text-align: center;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
            .content-wrapper {
                width: 90%;
                margin: 0 auto;
            }
          }
        }
      }
}
@media (max-width: 320px){
    .acount-applicant {
      .container {
        .section-body {
          div {
            .navbar-wrapper {
              .navbarr {
                ul {
                  li {
                    width: 350px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  


