.personal-account-supervisor {
    padding: 100px 0;
    background-color: #f4f8ff;
    .container {
        .section-body {
            .content-wrapper {
                width: 100%;
                .supervisor-response-section {
                    .supervisor-response-request-item {
                        .content {
                            .request-categoriyes {
                                margin: 15px 0;
                            }
                            .request-bottom {
                                margin-top: 25px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: flex-start;
                                .file-upload {
                                    margin-bottom: 0;
                                }
                                .green-btn {
                                    border: 2px solid #63aa55;
                                    box-shadow: (0px 0px 15px rgba(0, 0, 0, 0.1));
                                    border-radius: 30px;
                                    color: #63aa55;
                                    background: white;
                                    padding: 8px 12px;
                                }
                            }
                        }
                    }
                }
                .supervisor-appeal-section {
                    .supervisor-appeal-item {
                        .content {
                            .request-categoriyes {
                                margin: 15px 0;
                            }
                            .request-bottom {
                                margin-top: 25px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: flex-start;
                                .file-upload {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
                .supervisor-feedbak-request-section {
                    .supervisor-feedbak-request-dizz,
                    .supervisor-feedbak-request-item {
                        .content {
                            .avatar {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                margin-bottom: 15px;
                                .red-btn {
                                    border: 2px solid #e91f1f;
                                    box-shadow: (0px 0px 15px rgba(0, 0, 0, 0.1));
                                    border-radius: 30px;
                                    color: #e91f1f;
                                    background: white;
                                    padding: 8px 12px;
                                }
                                .green-btn {
                                    border: 2px solid #63aa55;
                                    box-shadow: (0px 0px 15px rgba(0, 0, 0, 0.1));
                                    border-radius: 30px;
                                    color: #63aa55;
                                    background: white;
                                    padding: 8px 12px;
                                }
                            }
                        }
                    }
                }
                .supervisor-reyting-listnear-section {
                    .supervisor-reyting-listnear-item {
                        .content {
                            .fedbeck {
                                .reyting-stars {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    img {
                                        margin: 0 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                .supervisor-statistic-section {
                    .responsive-nav-top {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .personal-account-supervisor {
        .container {
            .section-body {
                padding: 50px 13px;
                .content-wrapper {
                    .peraccsup-listeners-section {
                        .listnears-section-top {
                            flex-wrap: wrap;
                            justify-content: space-around;
                            .list-generation,
                            .send-list,
                            .request-sort {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .supervisor-response-section {
                        .supervisor-response-request-item {
                            .content {
                                .request-bottom {
                                    .file-upload {
                                        .file {
                                            max-width: 230px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .supervisor-appeal-section {
                        .supervisor-appeal-item {
                            .content {
                                .request-bottom {
                                    .file-upload {
                                        .file {
                                            max-width: 230px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .personal-account-supervisor {
        .container {
            .section-body {
                display: flex;
                padding: 50px 0;
                flex-direction: column;
                .navbar-wrapper {
                    width: 100%;
                    margin-bottom: 15px;
                    .navbarr {
                        width: 100%;
                        padding: 20px 10px;
                        ul {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            width: 100%;
                            li {
                                max-width: 46%;
                                margin: 7px 12px;
                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                .content-wrapper {
                    margin-left: 0px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .personal-account-supervisor {
        .container {
            .section-body {
                .navbar-wrapper {
                    .navbarr {
                        ul {
                            li {
                                max-width: 100%;
                                margin: 7px 0px;
                            }
                        }
                    }
                }
                .content-wrapper {
                    .peraccsup-listeners-section {
                        .peraccsup-listnears-item {
                            .content {
                                .fedbeck {
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    .user-item {
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-incoming-request-section {
                        .supervisor-incoming-request-item {
                            .content {
                                .fedbeck {
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    .user-item {
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-response-section {
                        .supervisor-response-request-item {
                            .content {
                                .user-item {
                                    justify-content: center;
                                }
                                .request-bottom {
                                    justify-content: center;
                                    .file-upload {
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-applicant-section {
                        .supervisor-applicant-item {
                            .content {
                                .fedbeck {
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    .request-content-title-name {
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-appeal-section {
                        .supervisor-appeal-item {
                            .content {
                                .user-item {
                                    justify-content: center;
                                }
                                .request-bottom {
                                    justify-content: center;
                                    .file-upload {
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-reyting-listnear-section {
                        .supervisor-reyting-listnear-item {
                            .content {
                                .fedbeck {
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    .user-item {
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-statistic-section {
                        .statistic-section-nav-top {
                            display: none;
                        }
                        .responsive-nav-top {
                            display: block;
                            border-radius: 20px;
                            box-shadow: (0px 0px 15px rgba(0, 0, 0, 0.1));
                            margin: 20px auto;
                            width: 240px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .personal-account-supervisor {
        .container {
            padding: 0 20px;
            .section-body {
                .content-wrapper {
                    .peraccsup-listeners-section {
                        .peraccsup-listnears-item {
                            .content {
                                .fedbeck {
                                    .user-item {
                                        .user-person-inform {
                                            flex-wrap: wrap;
                                            justify-content: center;
                                        }
                                    }
                                    .fedbeck-right {
                                        .redaction-date {
                                            margin: 20px auto 0 auto;
                                            padding: 0;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-incoming-request-section {
                        .supervisor-incoming-request-item {
                            .content {
                                .fedbeck {
                                    text-align: center;
                                    .user-item {
                                        .user-person-inform {
                                            flex-direction: column;
                                            .user-img {
                                                margin-bottom: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-response-section {
                        .supervisor-response-request-item {
                            .content {
                                text-align: center;
                                .document-text {
                                    .document-text-title {
                                        flex-wrap: wrap;
                                        h4 {
                                            margin-bottom: 5px;
                                        }
                                    }
                                }
                                .request-categoriyes {
                                    .categories {
                                        ul {
                                            flex-direction: column;
                                            li {
                                                width: 100%;
                                                margin-bottom: 15px;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                input {
                                                    width: 240px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .user-item {
                                    .user-person-inform {
                                        flex-direction: column;
                                        .user-img {
                                            margin-bottom: 10px;
                                        }
                                    }
                                }
                                .request-bottom {
                                    flex-direction: column;
                                    align-items: center;
                                    .file-upload {
                                        flex-direction: column;
                                        justify-content: center;
                                        width: 100%;
                                        .file {
                                            margin-top: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-applicant-section {
                        .supervisor-applicant-item {
                            .content {
                                .fedbeck {
                                    text-align: center;
                                    .request-content-title-name {
                                        flex-direction: column;
                                        .applicant-image {
                                            margin-bottom: 10px;
                                        }
                                    }
                                    .supervisor-applicants {
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-appeal-section {
                        .supervisor-appeal-item {
                            .content {
                                text-align: center;
                                .document-text {
                                    .document-text-title {
                                        flex-wrap: wrap;
                                        h4 {
                                            margin-bottom: 5px;
                                        }
                                    }
                                }
                                .request-categoriyes {
                                    .categories {
                                        ul {
                                            flex-direction: column;
                                            li {
                                                width: 100%;
                                                margin-bottom: 15px;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                input {
                                                    width: 240px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .user-item {
                                    .user-person-inform {
                                        flex-direction: column;
                                        .user-img {
                                            margin-bottom: 10px;
                                        }
                                    }
                                }
                                .request-bottom {
                                    flex-direction: column;
                                    align-items: center;
                                    .file-upload {
                                        flex-direction: column;
                                        justify-content: center;
                                        width: 100%;
                                        .file {
                                            margin-top: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .sipervisor-call-falow-section {
                        .sipervisor-call-falow-item {
                            .content {
                                .document-prosses {
                                    .new,
                                    .progressing,
                                    .close {
                                        width: 100px;
                                        .prosses-item {
                                            height: 32px;
                                            width: 32px;
                                            .prosses-item-active {
                                                height: 18px;
                                                width: 18px;
                                            }
                                        }
                                    }
                                    .line {
                                        margin-top: 15px;
                                    }
                                    h3 {
                                        font-size: 14px;
                                    }
                                }
                                .document-text {
                                    align-items: center;
                                    .document-text-title {
                                        align-items: center;
                                        display: flex;
                                        flex-direction: column;
                                        h4 {
                                            margin-bottom: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-feedbak-request-section {
                        .supervisor-feedbak-request-dizz,
                        .supervisor-feedbak-request-item {
                            .content {
                                .user-item {
                                    justify-content: center;
                                }
                                .avatar {
                                    flex-direction: column;
                                    align-items: center;
                                    .request-content-title-name {
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .personal-account-supervisor {
        .container {
            .section-body {
                .content-wrapper {
                    .peraccsup-listeners-section {
                        .peraccsup-listnears-item {
                            .content {
                                .fedbeck {
                                    text-align: center;
                                    .user-item {
                                        .user-person-inform {
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            .user-img {
                                                margin-bottom: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-response-section,
                    .supervisor-appeal-section {
                        .supervisor-response-request-item {
                            .content {
                                .request-content-title-name {
                                    flex-direction: column;
                                    justify-content: center;
                                    .applicant-image {
                                        margin-bottom: 10px;
                                    }
                                }
                                .document-text {
                                    .document-text-title {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                    .sipervisor-call-falow-item {
                        .content {
                            .document-text-item {
                                text-align: center;
                            }
                        }
                    }
                    .supervisor-feedbak-request-section {
                        .supervisor-feedbak-request-dizz,
                        .supervisor-feedbak-request-item {
                            .content {
                                text-align: center;
                                .user-item {
                                    .user-person-inform {
                                        flex-direction: column;
                                        align-items: center;
                                        .user-img {
                                            margin-bottom: 15px;
                                        }
                                    }
                                }
                                .avatar {
                                    flex-direction: column;
                                    align-items: center;
                                    .request-content-title-name {
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                        }
                    }
                    .supervisor-reyting-listnear-section {
                        .supervisor-reyting-listnear-item {
                            .content {
                                text-align: center;
                                .fedbeck {
                                    flex-direction: column;
                                    align-items: center;
                                    .user-item {
                                        .user-person-inform {
                                            flex-direction: column;
                                            align-items: center;
                                            .user-img {
                                                margin-bottom: 15px;
                                            }
                                        }
                                    }
                                    .reyting-stars {
                                        flex-direction: column;
                                        align-items: center;
                                        .stars {
                                            margin-top: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
