.popular-slider {
    margin-top: 20px;
    .swiper-container {
        width: 100%;
        min-height: 350px;
        border-radius: 20px;
        .swiper-button-prev::after,
        .swiper-button-next::after {
            color: rgb(180, 178, 178);
            margin-bottom: 30px;
        }
        .swiper-button-disabled {
            color: grey;
        }
        .swiper-pagination {
            &-bullet {
                height: 16px;
                width: 16px;
                background-color: rgb(170, 170, 170);
                opacity: 1;
                &-active {
                    background-color: rgb(7, 12, 85);
                }
            }
        }
        .swiper-slide {
            .popular-text {
                min-height: 300px;
                max-width: 95%;
                margin: 0 auto 40px auto;
                background-color: rgb(255, 255, 255);
                border-radius: 20px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
                padding: 20px;
                .document-text {
                    margin-top: 20px;
                    .document-text-title {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 10px;
                        h4 {
                            font-size: 20px;
                            font-weight: 500;
                            color: #000000;
                        }
                        p {
                            font-size: 18px;
                            color: #222d44;
                            margin-left: 10px;
                        }
                    }
                    .document-text-item {
                        font-size: 14px;
                        line-height: 24px;
                        color: #222d44;
                    }
                }
            }
        }
    }
}
