.registration-applicant {
  background-color: #f4f8ff;

  .registration-applicant-wrapper {
    padding: 160px 50px;

    h5 {
      font-weight: bold;
      font-size: 22px;
      color: #000000;
      margin: 30px 0 20px 0;
    }

    .form-wrapper {
      display: flex;
      flex-direction: column;

      .form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .form-first,
        .form-last {
          width: 50%;
          padding: 0 10px;

          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;

            li {
              margin-bottom: 20px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;
              width: 100%;

              input {
                width: 50%;
              }

              .category {
                width: 50%;
              }

              .input-date {
                height: 40px;
                border-radius: 10px;
                background-color: #ffffff;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                padding: 20px;
              }
            }

            label {
              margin-right: 20px;
            }

            .error {
              color: red;
              width: 265px;
              margin: -10px 0 10px 0;
            }
          }
        }
      }

      .form-bottom {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 20px;

        .confidential {
          .checked {
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
              height: 20px;
              width: 20px;
            }

            label {
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              width: 280px;
              margin-left: 20px;

              a {
                text-decoration: none;
                color: black;
              }
            }
          }
        }

        button {
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .registration-applicant {
    .registration-applicant-wrapper {
      padding: 100px 80px 100px 0;

      .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .form {
          display: flex;
          flex-direction: column;
          width: 90%;

          .form-first,
          .form-last {
            width: 100%;
            padding: 0 10px;

            ul {
              li {
                input {
                  width: 60%;
                }

                .category {
                  width: 60%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .registration-applicant {
    .registration-applicant-wrapper {
      padding: 100px 35px 100px 0;

      .form-wrapper {
        .form {
          .form-first,
          .form-last {
            ul {
              li {
                input {
                  width: 55%;
                }

                .category {
                  width: 55%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .registration-applicant {
    .registration-applicant-wrapper {
      padding: 100px 0;

      .form-wrapper {
        .form {
          .form-first,
          .form-last {
            ul {
              li {
                display: flex;
                flex-direction: column;

                .label {
                  margin-bottom: 15px;
                }

                input {
                  width: 100%;
                }

                .category {
                  width: 100%;
                }
              }
            }
          }
        }

        .form-bottom {
          display: flex;
          flex-direction: column;
          align-items: center;

          .confidential {
            margin-bottom: 20px;
          }

          button {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
