@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "zeroing.scss";
@import "media.scss";
@import "title.scss";
@import "input.scss";
@import "nav.scss";
@import "footer.scss";
@import "home.scss";
@import "desctop3.scss";
@import "person-account-listnear.scss";
@import "registration-listnear.scss";
@import "registration-applicant.scss";
@import "personal-account-applicant.scss";
@import "desctop4.scss";
@import "dashboard.scss";
@import "desctop7.scss";
@import "setting.scss";
@import "desctop8.scss";
@import "personal-account-applicant-document-status.scss";
@import "navbar.scss";
@import "content.scss";

.App {
    font-family: "Montserrat", sans-serif;
}

.container-fluit {
    width: 100%;
}

.container {
    margin: 0 auto;
}

.response-request {
    .content-line {
        height: 1px;
        background-color: black;
        margin-bottom: 20px;
    }
    
    .reponse-request-content {
        margin-bottom: 20px;
        p {
            margin-top: 10px;
            font-size: 14px;
            line-height: 22px;
        }
    }
    .file-upload {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        label {
            margin-right: 20px;
        }
    }
    .button {
        max-width: max-content;
        margin-left: auto;
    }
}

.response-request-1 {
    margin-bottom: 20px;
}

.response-request-2 {
    margin-bottom: 20px;
}

.fedbeck {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    .fedbeck-title {
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .request-content-title-date {
            button {
                border: 2px solid #000000;
                border-radius: 30px;
                padding: 6px 10px;
                background-color: white;
                color: #000000;
                font-weight: 500;
                margin-left: 10px;
            }
            .redaction-date {
                margin-left: auto;
                color: black;
                margin-top: 10px;
                padding-left: 35px;
            }
        }
        .user-item {
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            // margin-bottom: 30px;
            .user-person-inform {
                display: flex;
                flex-direction: row;
                align-items: center;
                .user-img {
                    height: 55px;
                    width: 55px;
                    border-radius: 50%;
                    background-color: green;
                    margin-right: 10px;
                }
                .user-inform {
                    .user-name {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 120%;
                        color: #000000;
                        margin-bottom: 5px;
                    }
                    .user-porofeesion {
                        font-size: 14px;
                    }
                }
            }
            .user-reaction-stars {
                .us-re-label {
                    margin-bottom: 10px;
                    font-weight: 500;
                }
                .stars {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
    .fedbeck-content {
        p {
            margin: 15px 0;
            line-height: 20px;
        }
    }
}

.request-content-title-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    .applicant-image {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: rgb(60, 144, 223);
    }
    .name {
        font-weight: 500;
        font-size: 20px;
        color: #000000;
        margin: 0 10px;
    }
}

.directory-pdf {
    margin: 20px 0;
    .directory-file {
        height: 40px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 15px;
        position: relative;
        padding: 0 20px;
        background: url("../icon/upload.svg") center/20px 20px no-repeat;
        input[type="file"] {
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
            z-index: -1;
        }
    }
}

.center-sends {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    .user-item {
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // margin-bottom: 30px;
        .user-person-inform {
            display: flex;
            flex-direction: row;
            align-items: center;
            .user-img{
                margin-right: 10px;
            }
            .user-inform {
                .user-name {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 120%;
                    color: #000000;
                    margin-bottom: 5px;
                }
                .user-porofeesion {
                    font-size: 14px;
                }
            }
        }
    }
    .center-sends-right {
        .new {
            height: 18px;
            width: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: red;
            color: white;
            font-size: 10px;
            font-weight: 500;
            position: relative;
            bottom: 15px;
            left: 105px;
        }
        p {
            margin-top: 8px;
            margin-left: 35px;
        }
    }
    .supervisor-center-sends-right {
        .new {
            height: 18px;
            width: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: red;
            color: white;
            font-size: 10px;
            font-weight: 500;
            position: relative;
            bottom: 20px;
            left: 260px;
        }
        .count-request{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 10px;
            font-size: 16px;
            strong{
                margin-left: 10px;
                font-size: 18px;
            }
        }
    }
}

.request-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    select {
        width: 190px;
        height: 40px;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin-left: 10px;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
    }
}
