.title {
    .title-text {
        font-weight: 600;
        color: #222d44;
        font-size: 22px;
        margin-bottom: 10px;
    }
    .title-bottom-line {
        height: 2px;
        max-width: 500px;
        background-color: grey;
    }
}