.pagination1 {
    display: inline-block;
    float: right;
}
.size-page{
    display: inline-block;
    float: left;
    padding-left: 25px;
}

.tree-dots:hover{
    background-color: #fff!important;
}

.input-size-option{
    width: 50px;
    padding: 6px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.pagination1 span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination1 span.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination1 span:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
.z-index{
    z-index: 1;
}

@media screen and(min-width: 785px) {
    .pagination1{
        display: block;
        float: left;
    }
}
@media only screen and (max-width: 555px) {
    .page_size_text{
        display: none !important;

    }
    .size-page{
        margin-left: auto !important;
    }
    .pagination_text{
        font-size: 14px !important;
    }
    .pagination1 svg{
        font-size: 14px !important;
    }
    .pagination1 span{
        font-size: 14px !important;
        padding: 8px 10px !important;
    }
}
